html {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;
}

body {
  align-items: center;
  display:flex;
  flex-direction: column;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  z-index: 20;
  width: 960px;
}

.background {
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  height: 31rem;
  width: 100%;
  z-index: 0;
}

header {
  align-items: center;
  display: flex;
  background-color: cadetblue;
  margin-top: 1rem;
  position: absolute;
  top: 1rem;
  width: auto;
}

header img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

header span {
  color: white;
  display: inline-block;
  width: 600px;
}

header nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

nav ul {
  display: flex;
}

nav li {
  color: white;
  padding: 1rem;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 14rem 0 10rem 0;
  position: relative;
  width: 100%;
}

.banner h1 {
  display: inline-block;
  background-color: white;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  padding: 1.5rem 5rem;
}

.benefits {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem;
}

.benefits .benefits-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 8rem;
  width: 5rem;
  margin: 0 3rem;
  text-align: center;
}

.benefits-item .img-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 5rem;
  width: 5rem;
}

.benefits-item img {
  max-height: 5rem;
  max-width: 5rem;
  height: auto;
  width: auto;
}

.benefits-item span {
  padding-top: 0.5rem;
}

.info {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.info .info-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 10rem;
  width: 35%;
  margin: 0 2.5%;
}

.info-item h4 {
  background-color: cadetblue;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  width: 10rem;
  padding: 0.5rem;
  padding-left: 1.25rem;
}

.info-item span {
  margin-top: 1rem;
}

footer {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  height: 9.5rem;
  width: 100%;
}

footer img {
  margin-left: 4rem;
  margin-right: 1rem;
}
